.container{
    font-family: 'Franklin Gothic Medium';
    padding: 2vw;
}
.title{
    margin-top: 1vw;
    text-align: center;
}
.list{
    border: 2px solid rgb(0, 0, 0);
    border-radius: 2px;
    max-width: 43vw;
    margin: auto;
    padding: 0 2vw;
}
li{
    display: flex;
    justify-content: flex-start;
    color: rgb(70, 70, 255);
}
li div{
    margin: 0.2vw;
    margin-left: 1vw;
}